---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "ブログ・筆者について";

---

<BaseLayout pageTitle={pageTitle}>
<h2>Daisuke Nakahara</h2>
<div>2024年3月に、土木系の大学院を修了。2024年4月より、エンジニアとしてのキャリアをスタートする。<br>
これまであまり重視しなかったアウトプットに力を入れ、一歩ずつ成長していく所存である。</div>
</BaseLayout>
