---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const allPosts = await getCollection("blog");
const pageTitle = "新着記事";
---

<style>
	.list-articles {
		text-align: start;
		margin-bottom: 2rem;
	}
</style>
<BaseLayout pageTitle={pageTitle}>
	<div class="list-articles">
		{
			allPosts.map((post: any) => (
				<BlogPost
					url={`/posts/${post.id}/`}
					title={post.data.title}
					datetime={post.data.pubDate.toLocaleDateString("ja-JP", {
						year: "numeric",
						month: "2-digit",
						day: "2-digit",
					})}
				/>
			))
		}
	</div>
</BaseLayout>
